{% extends "base.html" %}

{% block categories_btn %}
    {% include 'categories_btn.html' %}
{% endblock %}

{% block sensor_lists %}
    {% include 'sensor_lists.html' %}
{% endblock %}

{% block time_group %}
    {% include 'time_group.html' %}
{% endblock %}

{% block show_graph %}
    {% include 'show_graph.html' %}
{% endblock %}

{% block time_group_monit %}
    {% include 'time_group_monit.html' %}
{% endblock %}

{% block show_graph_monit %}
    {% include 'show_graph_monit.html' %}
{% endblock %}

{% block time_table_group %}
    {% include 'time_group_table.html' %}
{% endblock %}

{% block table_group %}
    {% include 'table_group.html' %}
{% endblock %}

{% block view3D_group %}
    {% include 'view3D_group.html' %}
{% endblock %}

{% block time_group_file %}
    {% include 'time_group_file.html' %}
{% endblock %}

