<br>
<table id="sensor_table" class="table table-condensed" style="background-color:white;font-size:12px">
    <thead>
        <tr>
            <th>ID</th> 
            <th>PVSS_name</th> 
            <th>DB_name</th> 
            <th>Description</th> 
            <th>Value</th> 
            <th>Status</th>
        </tr>
    </thead>
        <tfoot>
        <tr>
            <th>ID</th> 
            <th>PVSS_name</th> 
            <th>DB_name</th> 
            <th>Description</th> 
            <th>Value</th> 
            <th>Status</th>
        </tr>
    </tfoot>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">
setTable();
</script>




